<ul class="nav">
    <li><a href="">Ask a question</a></li>
    <li><a href="{{ path('mp_qa_question_popular') }}">Popular Questions</a></li>
    <li><a href="{{ path('mp_qa_question_latest') }}">Latest Questions</a></li>
    <li><a href="{{ path('mp_qa_answer_recent') }}">Recent Answers</a></li>
</ul>
<ul class="nav pull-right">
    <li><a href="#">About</a></li>
    <li><a href="{{ path('mp_crud_question_index') }}">Administration</a></li>
</ul>