{% extends app['mp.qa.twig.layout'] %}
{% block mp_qa_content %}
    <h3>Popular Questions</h3>
    <hr>
    <div class="">
        {% for q in questions %}
                {% include 'mp.qa.question.row.html.twig' with {question:q} %}
            <hr/>
        {% endfor %}
        <div class="pagination pagination-centered">
            {% include 'crud/includes/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}